
<ion-content padding class="background">
<ion-header no-border color="transparent">
  <ion-toolbar color="transparent">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>

    </ion-buttons>

    <ion-title color="light">Registro</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content color="transparent">
  <ion-button padding slot="" expand="block" color="light" >Registrarme con Google
      <ion-icon name="logo-google" slot="start"></ion-icon>
  </ion-button>
  <ion-button padding routerLink="/crear-cuenta" slot="" expand= "block" color="light">Crear nueva cuenta</ion-button>
  
</ion-content>
</ion-content>