<ion-header no-border>

  <ion-toolbar padding class="background">

      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/mistarjetas"></ion-back-button>
    
        </ion-buttons>

       

    <ion-title text-center color="light" >FAQs</ion-title> 
    
  </ion-toolbar>
</ion-header>
<ion-content padding class="background1">

    
<img src="assets\imagenes\Logo.png" height='80' width='130'  class="ion-align-items-center"/>

<hr>

<div class="estilo">
    <mat-accordion>
        <mat-expansion-panel class="colors" color="primary">
          <mat-expansion-panel-header>
            <mat-panel-title>
                ¿En qué dispositivos funciona?
            </mat-panel-title>
            <mat-panel-description class="align">
                <ion-icon   name="help-circle"></ion-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <span>En todos los dispositivos Android 4.2 en adelante</span>
        </mat-expansion-panel>

        <hr>
        <mat-expansion-panel class="colors" color="primary">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  ¿Cómo puedo actualizar la aplicación?
              </mat-panel-title>
              <mat-panel-description class="align">
                  <ion-icon name="help-circle"></ion-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <span>Como sucede con todas las aplicaciones, cuando lancemos una actualización, el sistema te avisará con un globo rojo sobre el icono de la aplicación del App Store. Para completar la actualización, basta entrar en ella, ir al apartado “Actualizaciones” y pulsar “actualizar”.</span>
          </mat-expansion-panel>

          <hr>
          <mat-expansion-panel class="colors" color="primary">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué hago si tengo problemas con la aplicación?
                </mat-panel-title>
                <mat-panel-description class="align">
                    <ion-icon name="help-circle"></ion-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <span>Si la aplicación se cierra inesperadamente o tienes cualquier otro problema, comprueba en primer lugar que tienes instalada la última versión. Si el problema persiste, puedes ponerte en contacto con nosotros a través del correo e-karteRD@hotmail.com</span>
            </mat-expansion-panel>

            <hr>

            <mat-expansion-panel class="colors" color="primary">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      ¿Está la aplicación disponible en todos los países?
                  </mat-panel-title>
                  <mat-panel-description class="align">
                      <ion-icon name="help-circle"></ion-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <span>Sí, la app de e-Karte está disponible en todos los países.</span>
              </mat-expansion-panel>

              <hr>

              <mat-expansion-panel class="colors" color="primary">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Cómo borro la aplicación?
                    </mat-panel-title>
                    <mat-panel-description class="align">
                        <ion-icon name="help-circle"></ion-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <span>Manteniendo pulsado el icono y arrastrandolo a la parte superior de la pantalla hasta el apartado de borrar.</span>
                </mat-expansion-panel>

                <hr>

                <mat-expansion-panel class="colors" color="primary">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        ¿Es imprescindible instalar las actualizaciones? ¿Qué sucede si no lo hago?
                      </mat-panel-title>
                      <mat-panel-description class="align">
                          <ion-icon name="help-circle"></ion-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <span>Las actualizaciones son necesarias para corregir fallos, para afinar el funcionamiento y para añadir mejoras y nuevos contenidos. Si no instalas las actualizaciones, es posible que no puedas ver algunos contenidos, y que persistan algunos fallos.</span>
                  </mat-expansion-panel>

                  <hr>

                  <mat-expansion-panel class="colors" color="primary">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Como se escanea los codigo de barra?
                        </mat-panel-title>
                        <mat-panel-description class="align">
                            <ion-icon name="help-circle"></ion-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <span>AQUI VA EL CONTENIDO</span>
                    </mat-expansion-panel>
      </mat-accordion>
</div>
</ion-content>