<ion-header no-border  >
    
  <ion-toolbar padding class="background">

    <ion-buttons slot="start">
        <ion-back-button  defaultHref="/mistarjetas"></ion-back-button>
  
      </ion-buttons>



  <ion-title text-center color="light" >Acerca de</ion-title> 
  
</ion-toolbar>
</ion-header>



<ion-content padding class="background1">

<br>
<br>
<br>
<br>


<img src="assets\imagenes\Logo.png" height='80' width='130'  class="ion-align-items-center"/>






 
<hr> 


<ion-row center>

  <ion-col width-50 center>
    <ion-label>
        <hr> 

        
        
   
        
      e-Karte es una aplicación móvil que permite a los clientes de los centros comerciales la opción de digitalizar sus tarjetas de membresia, con el fin de asegurar su portabilidad, confianza, eficiencia, y rapidez en los servicios, ya que la misma se emplearan mediante un dispositivo Smart.     
<br> 
<br> 

A lo largo del tiempo hemos visto como empresas otorgan tarjetas preferenciales de material plástico, este puede ser objeto de pérdida o en su defecto, que olvide usarla por varios factores que inciden. Con e-Karte  podemos reducir el uso del plástico, rapidez en el servicio ver los puntos acumulados.
<br> 
<br> 
e-Karte es una aplicación desarrollada por un  grupo de estudiante de término de la carrera de ingeniería en software del Instituto Tecnológico De Santo Domingo. En el transcurso de nuestras carreras, nos hemos dedicado a la realización de un sistema de diseño de tarjetas preferenciales para empresas de ventas de productos masivos, con la finalidad de reducir el uso del plástico, la misma aplicación cuenta con un uso a través de dispositivos inteligentes.
<br> 
<br> 

<br> 
<br> 
     

    </ion-label>
  </ion-col>
</ion-row>







</ion-content>


