.background{
    --background: url(/assets/imagenes/Plantilla1.png) 0 0/100% 100% no-repeat ;
}

.background1{
    --background: url(/assets/imagenes/gris-claro.jpg) 0 0/100% 100% no-repeat ;
}

.posicion{
    height: 500px;
    width: 500px;
    vertical-align: middle;
}



img{
    display:block;
    margin:auto;

}